.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: black;
    transition: 0.5s ease-out;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 35px;
    font-family: 'Courgette', cursive;
}

.header {
    font-weight: bolder;
    color: red;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px red, 0 0 70px red, 0 0 80px red, 0 0 100px red, 0 0 150px red;
    font-size: 60px;
    margin-bottom: 7%;
}

.start-button {
    font-weight: bold;
    color: #FFDD1B;
    font-size: 40px;
    font-variant: small-caps;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

.start-button:hover {
    color: #ffffff;
    animation: yellowNeon 1.5s ease-in-out infinite alternate;
}

.help-content {
    color: white;
    font-size: 30px;
    width: 80%;
    padding: 21px;
    margin: 70px auto;
    animation: orangeNeon 1.5s ease-in-out infinite alternate;
}

@keyframes yellowNeon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}

@keyframes orangeNeon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
}